.rec {
    height: 80px;
    background-color: #FFCC00
}

.large {
    height: 400px;
    background-color: #FF0000 

}

.whiteblock{

    height: 250px;
    background-color: white; 

}

.luigi {
    padding-top: 4%;

}

@font-face {
    font-family: marioFont;
    src: url(SuperMario256.ttf);
}

.mario{

font-family: marioFont;
    font-size: 50px;
    color: #FF0000;
    text-align: center;
    
}

.normal{
    color: red;
    font-size: 30px;
    align-content: center;
    text-align: center;

}

.smallyellow {
    height: 80px;
    background-color: #FFCC00
}

.mushroom{
    max-width:100%;
    max-height:100%;

}
